.navbar-container {
  box-shadow: 0 0 19px 2px theme('colors.foreground.dark.primary');

}

.button-custom {
  background-color: theme('colors.text.dark.primary');
  color: theme('colors.background.dark.primary');
  border: 1px solid theme('colors.text.dark.primary');
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition-duration: 1s;

  &:hover {
    background-color: theme('colors.background.dark.primary');
    color: theme('colors.text.dark.primary');
    transition-duration: 1s;
  }
}