@import "../navbar/navbar";

.project-card {
  box-shadow: 0 0 10px 2px theme('colors.foreground.dark.primary');

  .project-card-icons:hover {
    color: theme('colors.shared.highlight');
  }

  .languages-container {

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}